name: Push Dev Image

on:
  workflow_dispatch:

jobs:
  push-dev:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Setup Nix
        uses: cachix/install-nix-action@v27
        with:
          github_access_token: ${{ secrets.GITHUB_TOKEN }}

      - name: Build image
        run: nix build .#image-dev

      - name: Push to dev registry
        run: |
          skopeo login quay.io -u "${{ secrets.QUAY_USERNAME }}" -p "${{ secrets.QUAY_PASSWORD }}"
          skopeo copy docker-archive:result "docker://quay.io/upgrades/k8s-cloud-tagger-dev:sha-$(git rev-parse --short HEAD)"
